BasedOnStyle: Google
Language: Cpp
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  BeforeLambdaBody: true

BinPackArguments: false
BinPackParameters: false
LambdaBodyIndentation: Signature
AlignAfterOpenBracket: Align
ContinuationIndentWidth: 2
