[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "src/Shiva"]
	path = src/Shiva
	url = ../../GEOS-DEV/Shiva.git
[submodule "blt"]
	path = blt
	url = ../../LLNL/blt.git
